In [182]:
from scipy import stats as st
import numpy as np
import pandas as pd

In [183]:
csv_path = "../dataset/master_sheet.csv"

In [184]:
data = pd.read_csv(csv_path)
data.describe()

,Age,Height,Weight,Heart_Rate,BP_Systolic,BP_Diastolic,BASELINE SERUM CREATININE,HAEMOGLOBIN,HBA1C,Total_cholesterol,...,Age.2,History of heart failure,history of AMI,HR.1,SBP.1,ST segment depression,s.creat.1,Elevated Cardiac markers.1,No PCI,Grace Score (6 month)
count,1630.000000,1630.000000,1630.000000,1630.000000,1630.000000,1630.000000,1630.000000,1630.000000,676.000000,1630.000000,...,1630.000000,1630.000000,1630.000000,1630.000000,1630.000000,1630.000000,1630.000000,1630.000000,1630.000000,1630.000000
mean,54.338650,165.187485,64.483933,84.338037,122.509816,77.006748,1.053699,13.106810,7.130266,165.723190,...,36.857669,0.014724,0.198773,10.651534,14.830675,845.273620,5.588344,13.638037,12.419632,939.473006
std,11.923561,6.682856,10.523991,18.654277,24.337021,14.015841,0.435791,1.739935,2.082153,45.324805,...,22.792132,0.594453,1.532059,5.605622,4.955744,488.967172,2.240700,4.311137,4.431663,489.614148
min,18.000000,136.000000,38.000000,34.000000,40.000000,20.000000,0.100000,5.700000,4.300000,79.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,39.000000
25%,46.000000,161.115000,57.000000,75.000000,110.000000,70.000000,0.800000,11.925000,5.700000,135.000000,...,18.000000,0.000000,0.000000,9.000000,14.000000,423.250000,5.000000,15.000000,14.000000,517.250000
50%,55.000000,165.780000,64.000000,82.000000,120.000000,80.000000,1.000000,13.200000,6.300000,161.000000,...,36.000000,0.000000,0.000000,9.000000,14.000000,843.500000,5.000000,15.000000,14.000000,930.500000
75%,62.000000,169.650000,72.000000,94.000000,138.000000,90.000000,1.200000,14.600000,8.100000,190.750000,...,55.000000,0.000000,0.000000,14.000000,18.000000,1267.750000,7.000000,15.000000,14.000000,1371.000000
max,96.000000,182.880000,112.000000,191.000000,220.000000,140.000000,5.900000,17.900000,16.100000,448.000000,...,100.000000,24.000000,12.000000,35.000000,24.000000,1699.000000,20.000000,15.000000,14.000000,1818.000000

In [185]:
data.columns

Index(['ID', 'Age', 'Sex', 'Presentation', 'Admission_Date', 'Admission Time',
       'father', 'mother', 'firstdeg', 'seconddeg',
       ...
       'OnD_Anticoagulant', 'OnD_INSULIN', 'OnD_Oral_Anti_glycemics',
       'OnD_Non_statin_lipid_drugs', '30 days Follow up Done Date', 'Method',
       'Follow Up Status', 'Reinfarction', 'Hospitalization for Heart Failure',
       'Stroke'],
      dtype='object', length=162)

In [186]:
target = "Follow Up Status"

In [187]:
labels = data[target].unique()
labels

array(['Alive', 'Deceased'], dtype=object)

In [188]:
def replace(val):
    if isinstance(val,str):
        return 0
    return val

In [189]:
num = ['Age', 'Number of Cigarettes Beedi per day', 'Number of years smoked', 'Height', 'Weight', 'Heart_Rate', 'BP_Systolic', 'BP_Diastolic',
        'Exact Time of Symptom Onset', 'Time_since_symptom_onset_to_1st_ECG', 'EJECTION FRACTION(%)', 'PRESENCE OF MITRAL REGURGITATION', 'LV THROMBUS',
        'VSD', 'LV ANEURYSM', 'ACUTE_MR', 'BASELINE SERUM CREATININE', 'HAEMOGLOBIN', 'HBA1C', 'Total_cholesterol', 'LDL', 'HDL', 'Triglycerides',
        'APO B(g/l)', 'Liporotein A'
      ]

cat = ['Sex','Presentation','father','mother', 'firstdeg', 'seconddeg', 'Atrial fib flutter', 'Heart Failure', 'PriorPCI', 'Diabetes Mellitus', 'Cancer',
        'Hypertension', 'On Dialysis', 'Prior CABG', 'Hyperlipidemia', 'Prior MI', 'PAD', 'Prior CVA', 'Prior Angina', 'Physical_Activity',
        'Average_Sleep_Duration', 'Stress_Home', 'Stress_Work_Related', 'Stress_General', 'Tobacco_Use', 'Beedi', 'Cigarette', 'Hookah', 'Tobacco Chewing',
        'Multiple ', 'Alcohol', 'Gym_Supplements', 'Cannabis', 'Cocaine', 'Walking', 'ASPRIN', 'STATIN', 'P2Y12 Inhibitors', 'Beta_blocker', 'CalciumChannel',
        'ACE ARB', 'Aldosterone Blocking Antagonist', 'ARNI', 'Anticoagulant', 'INSULIN', 'Oral Anti glycemics', 'Non statin lipid drugs', 'Homeopathy',
        'Ayurveda', 'Symptoms_name', 'PRECEDING_ACTIVITY', 'CardiacStatus_Presentation', 'Time since symptoms onset to first medical contact',
        'Mode_of_transport', 'Type of First Medical Contact', 'Nature of Treatment', 'MItype_on_ECG', 'ASPIRIN', 'STATIN.1', 'P2Y12 Inhibitors.1',
        'Beta blocker', 'THROMBOLYSIS', 'RWMA', 'Trop_T', 'Coronary_angiography', 'Age 65-74/>75', 'Systolic BP<100', 'Heart Rate>100', 'KILLIP II-IV',
        'Anterior STE or LBBB', 'H/O Diabetes, HTN or Angina', 'Weight < 67 Kgs', 'Time to Treatment >4 Hours'
       ]

In [190]:
test_stats = {}
p_vals = {}

alpha = 0.01

In [191]:
for col in data.columns:
    if(data[col].unique().shape[0]==1):
        continue

    if (col != target and ((col in cat) or (col in num))):
        
        if(col in num):
            data[col] = data[col].apply(replace)
        
        counts = [data[data[target] == label][col] for label in labels]

        if col in cat:
            observed = pd.crosstab(index = data[col], columns = data[target])
            test_stat, p_value, _, _ = st.chi2_contingency(observed)
        elif col in num:
            test_stat, p_value = st.ttest_ind(a=counts[0],b=counts[1], nan_policy='omit',equal_var=False)

        test_stats[col] = test_stat

        if(p_value < alpha):
            p_vals[col] = "<0.01"
        else:
            p_vals[col] = p_value

In [192]:
results = pd.DataFrame({'Feature' : list(p_vals.keys()),
                        'CV' : list(test_stats.values()),
                        'p value' : list(p_vals.values())
                        })

results_xl_path = "feature_tests.xlsx"

results.to_excel(results_xl_path, index = False)